h1{
    font-size: 30px;
text-align: center;
background-color: aqua;
text-decoration:dotted ;
}
h2{
    font-size: 25px;
    color: rgb(86, 5, 153);

}
p{
    background-color: chartreuse;
    font-style: italic;
}